@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 2 22% 100%;
		--foreground: 2 5% 10%;
		--card: 2 22% 100%;
		--card-foreground: 2 5% 15%;
		--popover: 2 22% 100%;
		--popover-foreground: 2 95% 10%;
		--primary: 2 55.1% 82.5%;
		--primary-foreground: 0 0% 0%;
		--secondary: 2 22% 90%;
		--secondary-foreground: 0 0% 0%;
		--muted: -36 22% 95%;
		--muted-foreground: 2 5% 40%;
		--accent: -36 22% 90%;
		--accent-foreground: 2 5% 15%;
		--destructive: 0 50% 50%;
		--destructive-foreground: 2 5% 100%;
		--border: 2 22% 82%;
		--input: 2 22% 50%;
		--ring: 2 55.1% 82.5%;
		--radius: 0.5rem;
	}
	.dark {
		--background: 2 22% 10%;
		--foreground: 2 5% 100%;
		--card: 2 22% 10%;
		--card-foreground: 2 5% 100%;
		--popover: 2 22% 5%;
		--popover-foreground: 2 5% 100%;
		--primary: 2 55.1% 82.5%;
		--primary-foreground: 0 0% 0%;
		--secondary: 2 22% 20%;
		--secondary-foreground: 0 0% 100%;
		--muted: -36 22% 25%;
		--muted-foreground: 2 5% 65%;
		--accent: -36 22% 25%;
		--accent-foreground: 2 5% 95%;
		--destructive: 0 50% 50%;
		--destructive-foreground: 2 5% 100%;
		--border: 2 22% 50%;
		--input: 2 22% 50%;
		--ring: 2 55.1% 82.5%;
		--radius: 0.5rem;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
}
